<div class="header">
    <app-header></app-header>
</div>

<div class="main">
    <div class="sidebar">
        <app-side-bar></app-side-bar>
    </div>
    <div class="content">
        
            <form action="">
                <div class="user-form">
                    First Name: <input type="text" (change)="setFirstName($event)"> <br>
                    Last Name: <input type="text" (change)="setLastName($event)"> <br>
                    Email  : <input type="text" (change)="setEmail($event)"> <br>
                    Password : <input type="password" (change)="setPassword($event)"> <br>
                    confirm password : <input type="passord"  (change) = "setConfirmPassword($event)">
                </div>
                <button (click)="checkFormValidation()">User</button>
            </form>
    
    </div>
</div>

<div class="footer">

    <app-footer></app-footer>
</div>