<h1>
    Items List :
</h1>

<div class="buttons">
    <button (click)="clearList()" *ngIf="itemsList.length">Clear List </button>
    <button (click)="resetFactory()" *ngIf="itemsList.length">ResetFactory</button>
    <button (click)="resetStatus()" *ngIf="itemsList.length">ResetStatus</button>
</div>
<div>
    <div class="list-item" *ngFor="let item of itemsList ; let i=index"
        [ngClass]="{'deleted': item.status=== ToDoStatus.Deleted , 'restored' : item.status ===ToDoStatus.Restored}">

        <div class="title" [ngClass]="{'deleted':item.status === ToDoStatus.Deleted}">
            {{item.title}}
        </div>

        <div class="actions">

            <i class="bi bi-trash3-fill text-danger" (click)="deleteHandler(i)"
                *ngIf="item.status !==ToDoStatus.Deleted"></i>
            <i class="bi bi-arrow-clockwise text-white" (click)="restoreHandler(item)"
                *ngIf="item.status ===ToDoStatus.Deleted"></i>
            <span class="status">{{item.status}}</span>
        </div>
    </div>
    <div *ngIf="itemsList.length == 0  && showAlert" class="alert-box">
        <span>There are no Items</span>
        <button class="clos-btn" (click)="closeAlert()">Close</button>

    </div>
</div>