/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;

}

/* Header */
.header {
    background: transparent;
    color: black;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}

/* Main container (Sidebar + Content) */
.main {
    display: flex;
    flex: 1;

}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: antiquewhite;
    color: white;
    padding: 20px;
}

/* Content */
.content {
    flex: 1;
    padding: 20px;

    height: 84vh;
    overflow-y: auto;
    background-image: url("./assets/background3.jpg");

    background-size: cover;
}

/* Footer */
.footer {
    background: transparent;
    color: black;
    text-align: center;
    padding: 15px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        text-align: center;
    }
}