<!--Wrapper page-->
<h1>
    {{tableName}}
</h1>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Users</td>
            <td>Enabled</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Users</td>
            <td>Enabled</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Users</td>
            <td>Enabled</td>
        </tr>
    </tbody>
</table>