<div class="header" [class]="otherColor">
    <app-header (themedColored)="changeTheme($event)"></app-header>
</div>

<div class="main">
    <div class="sidebar" [class]="otherColor">
        <app-side-bar></app-side-bar>
    </div>
    <div class="content" [class]="bgColor">

        <form action="">
            <div class="contact-form">
                Name: <input type="text" (change)="setName($event)"> <br>
                Email: <input type="text" (change)="setEmail($event)"> <br>
                Subject: <input type="text" (change)="setSubject($event)"> <br>
                Message: <textarea name="" id="" (change)="setMessage($event)"></textarea> <br>
            </div>
            <button (click)="checkFormValidation()">Send</button>
        </form>

    </div>
</div>

<div class="footer" [class]="otherColor">

    <app-footer></app-footer>
</div>