<!--Login Form-->
<div class="login">
    <div class="form">
        <h1>Login Here </h1>
        <div>
            <div class="success loading" *ngIf="loading">
                <img src="assets/images/loading-gif.gif" alt="" width="50px" height="50px">
                 verifying  User ....
            </div>
            <div *ngIf="error" class="error">
                {{error}}
            </div>
            <div *ngIf="success" class="success">
                Logging user ...
            </div>
            <div class="form-control">
                <label for="">Email Address</label>
                <input type="text" name="email" [(ngModel)]="email">
            </div>
            <div class="form-control">
                <label for="">Password</label>
                <input type="password" name="password" [(ngModel)]="password">
            </div>
            <div class="form-control">
                <button (click)="userLogin()">Login</button>

            </div>
        </div>
    </div>
</div>